* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #033644;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* nav */
.nav {
  padding: 0 12rem;
}
.nav-cart {
  border: 1px solid #033644;
  border-radius: 9px;
  padding: 0 22px;
  display: flex;
  max-width: 6rem;
}
/* hero-section */
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3.5rem 4rem;
  gap: 1rem;
  height: 75vh;
  background-color: #eee;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  text-align: start;
}

.hero-text h1 {
  color: #033644;
  font-size: 3.9rem;
  text-transform: uppercase;
  font-weight: bold;
}

.hero-img {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
  border: 10px dotted #033644;
  border-radius: 60%;
}

.main-img {
  width: 100%;
  height: 58vh;
  object-fit: cover;
  z-index: 2;
  border-bottom: 1px solid #eee;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.bg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  object-fit: cover;
}

#title {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.text {
  padding-top: 4rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons .button {
  margin: 0 0.5rem;
}

/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto;
  padding: 0 1rem;
  gap: 2rem;
}
.product-item {
  width: 16rem;
}

.new-additions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem auto;
}

.new-additions h1 {
  margin-bottom: 3rem;
}

.additions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
}

/* ABOUT PAGE */
.about {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem auto;
  gap: 1rem;
}

.about-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: 1fr;
  width: 100%;
  max-width: 100%;
}

.about-img > img {
  object-fit: cover;
}

.about-img > *:nth-child(1) {
  width: 100%;
  height: 28rem;
  grid-row: 1/3;
}

.about-img > *:nth-child(2) {
  width: 100%;
  height: 16rem;
  grid-column: 2/4;
}

.about-img > *:nth-child(3) {
  width: 100%;
  height: 11.5rem;
  grid-column: 2/3;
}

.about-img > *:nth-child(4) {
  width: 100%;
  height: 11.5rem;
  grid-column: 3/4;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px auto;
  width: 1080px;
  gap: 4rem;
  padding: 1rem;
  /*  */
}

.about-hero,
.contact-hero,
.products-hero {
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("./assets/exquisite.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.contact-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("./assets/contact.jpg");
}

.products-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("./assets/ringlady.jpg");
}

form {
  width: 100%;
  background-color: #03364433;
  padding: 1.5rem;
}

form input,
textarea {
  width: 100%;
  border: 1px solid #033644;
  padding: 1rem 0.5rem;
  outline: none;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.map {
  width: 100%;
  padding: 0.5rem;
  background-color: #03364433;
}

.map > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pro-details {
  display: flex;
  flex-direction:row;
  padding: 1.2rem;
}

.pro-img {
  flex: 1 1;
}

.pro-text {
  flex: 1 1;
}

.pro-btns {
  display: flex;
  gap: 1rem;
}

/* CART-PAGE */
.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid rgb(115, 112, 112);
}
.cart-btn {
  height: 6vh;
}
.cart-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 764px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2.8rem;
  }

  .hero {
    width: 100%;
    height: 100%;
  }

  .hero-img {
    width: 100%;
    overflow: hidden;
    margin: 2rem 0;
  }

  .main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }

  .products {
    /* display: grid;
    grid-template-columns: 1fr; */
    max-width: 90%;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px auto;
    max-width: 90%;
    gap: 2rem;
  }
  /* CART-PAGE */
  .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pro-details {
    display: flex;
    padding: 1.2rem;
    flex-direction: column;
  }
}
